.errorbox{
    width: 100%;
    background-color: #f62828f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: var(--white);
    font-size: 25px;
}
@media screen and (max-width:860px) {
    .errorbox{
        font-size: 18px;
    }
}
@media screen and (max-width:576px) {
    .errorbox{
        font-size: 14px;
    }
    
}