.addproduct{
    width: 100%;
}
.addproduct h1{
    font-size: 30px;
    color: var(--black);
}
.addproduct form{
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px 0;
    text-align: left;
}
.addproduct-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.form-section{
    background-color: var(--white-50);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: right;
}
.form-section input{
    border: none;
    background-color: unset;
    padding: 10px 25px;
    outline: none;
    text-align: right;
    color: var(--black);
}
.addproduct-btn{
    border: 2px solid var(--border);
    background-color: var(--blue);
    color: var(--atag);
    border-radius: 10px;
    padding: 5px 17px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
@media screen and (max-width:1115px) {
    .addproduct h1{
        font-size: 20px;
    }
    .addproduct-btn{
        font-size: 10px;
    }
    .form-section input::placeholder{
        font-size: 10px;
    }
    
}
@media screen and (max-width:860px) {
    .addproduct-btn{
        font-size: 8px;
    }
    
}
@media screen and (max-width:660px) {
    .addproduct-form{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:575px) {
    
    
}
