.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-right img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.header-right div:first-child {
  font-size: 20px;
  padding-bottom: 5px;
  color: var(--black);
}
.header-right div:last-child {
  font-size: 15px;
  color: rgb(105, 101, 101);
}
.header-left {
  display: flex;
  align-items: center;
}
.searchbox {
  background-color: var(--white);
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 17px -10px rgba(0, 0, 0, 0.75);
}
.searchbox input {
  border: none;
  padding-right: 15px;
  padding-left: 50px;
  color: var(--black);
  outline: none;
  background-color: var(--white);
}
.searchbox button {
  border: 2px solid var(--border);
  background-color: var(--blue);
  color: var(--white);
  padding: 5px 17px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header-left-icons {
  margin-right: 15px;
  border: 2px solid var(--border);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--blue);
}
.header-left-icons svg {
  stroke: var(--atag);
  fill: var(--atag);
}
.mobile-size-serachIcon{
  display: none;
  stroke: var(--border);
  fill: var(--border);

}
@media screen and (max-width: 1115px) {
  .searchbox {
    padding: 5px 2px;
  }
  .searchbox input {
    padding-left: 0px;
    font-size: 10px;
  }
  .searchbox button {
    padding: 5px;
    font-size: 10px;
  }
  .header-left-icons {
    padding: 5px;
  }
  .header-right div:first-child {
    font-size: 15px;
  }
  .header-right div:last-child {
    font-size: 10px;
  }
  .header-right img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 860px) {
  .searchbox button {
    border: 1px solid var(--border);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .searchbox input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .header-left-icons {
    border: 1px solid var(--border);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
}
@media screen and (max-width: 768px) {
  .searchbox {
    padding: 5px 0;
  }
  .searchbox input {
    padding-right: 5px;
    font-size: 9px;
  }
}
@media screen and (max-width:575px){
  .header-right div:first-child {
    font-size: 13px;
  }
  .header-right div:last-child {
    font-size: 9px;
  }
  .mobile-size-serachIcon{
    display: block;
    width: 18px;
    height: 18px;
    margin-left: 2px;
  }
  .desktop-size-searchbtn{
    display: none;
  }
  .searchbox input{
    width: 70px;
    font-size: 9px;
  }
  .header-right{
    gap: 5px;
  }
}
@media screen and (max-width:480px) {
  .header-right div:first-child {
    font-size: 11px;
  }
  .header-right div:last-child {
    font-size: 7px;
  }
  .header-left-icons{
    margin-right: 0;
  }
  
}
